.text-13 {
  font-size: 13px;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-28 {
  font-size: 28px;
}

.text-32 {
  font-size: 32px;
}

.text-36 {
  font-size: 36px;
}

.text-sm {
  font-size: 0.875rem;
}

.text-center {
  text-align: center;
}

.text-decorative {
  font-family: 'IBM Plex Sans', sans-serif;
}

.font-medium {
  font-weight: 500;
}
